@model System.IdentityModel.Tokens.JwtSecurityToken

<div class="row">

  <h3>Raw Decoded ID Token</h3>
  <div class="TokenFormatting">@Model.ToString()</div>

  <h3>ID Token Contents</h3>
  <table class="table table-bordered">
    <tr>
      <td style="width:200px;">Issuer</td>
      <td>@Model.Issuer</td>
    </tr>
    <tr>
      <td>Subject</td>
      <td>@Model.Subject</td>
    </tr>
    <tr>
      <td>Valid From</td>
      <td>@Model.ValidFrom.ToLocalTime().ToString("h:mm:ss tt on dddd, MMMM d, yyyy")</td>
    </tr>
    <tr>
      <td>Valid To</td>
      <td>@Model.ValidTo.ToLocalTime().ToString("h:mm:ss tt on dddd, MMMM d, yyyy")</td>
    </tr>
    <tr>
      <td>Audiences</td>
      <td>
        @foreach (var audience in @Model.Audiences) {
          <div>@audience</div>
        }
      </td>
    </tr>
    <tr>
      <td>Claims</td>
      <td>
        @foreach (var claim in @Model.Claims) {
          <div>@claim.Type - @claim.Value</div>
        }
      </td>
    </tr>

  </table>

</div>
