@model AzureGraphAdalWebClient.Models.ADUser

<div class="row">

  <h3>User Info</h3>

  <table class="table table-bordered">
    <tr>
      <td style="width:200px;">Object Type</td>
      <td>@Model.objectType</td>
    </tr>
    <tr>
      <td>Object ID</td>
      <td>@Model.objectId</td>
    </tr>
    <tr>
      <td>User Principal Name</td>
      <td>@Model.userPrincipalName</td>
    </tr>
    <tr>
      <td>User Type</td>
      <td>@Model.userType</td>
    </tr>
    <tr>
      <td>Preferred Language</td>
      <td>@Model.preferredLanguage</td>
    </tr>
    <tr>
      <td>Usage Location</td>
      <td>@Model.usageLocation</td>
    </tr>
    <tr>
      <td>Display Name</td>
      <td>@Model.displayName</td>
    </tr>
    <tr>
      <td>Given Name</td>
      <td>@Model.givenName</td>
    </tr>
    <tr>
      <td>Surname</td>
      <td>@Model.surname</td>
    </tr>
    <tr>
      <td>Mail</td>
      <td>@Model.mail</td>
    </tr>
    <tr>
      <td>Other EMails</td>
      <td>
        @foreach (var email in @Model.otherMails) {
          <div>@email</div>
        }
      </td>
    </tr>
    <tr>
      <td>Country</td>
      <td>@Model.country</td>
    </tr>
    <tr>
      <td>Assigned Licenses</td>
      <td>
        @foreach (var license in @Model.assignedLicenses) {
          <div>@license.skuId</div>
        }
      </td>
    </tr>
    <tr>
      <td>Assigned Licenses</td>
      <td>
        @foreach (var plan in @Model.assignedPlans) {
          <div>@plan.service - @plan.servicePlanId</div>
        }
      </td>
    </tr>
  </table>

</div>
