<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Azure Graph ADAL-NET Web Client</title>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
  <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>


  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("ADAL Web Client", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @if (CustomAuthenticationManager.UserHasAuthentiated()) {
          <li>@Html.ActionLink("ID Token", "IdToken", "TokenViewer")</li>
            <li>@Html.ActionLink("Access Token", "AccessToken", "TokenViewer")</li>
              <li>@Html.ActionLink("App-Only Access Token", "AppOnlyAccessToken", "TokenViewer")</li>
              <li>@Html.ActionLink("User Info", "Index", "UserInfo")</li>
        }
      </ul>
      @Html.Partial("_LoginPartial")
    </div>
  </div>

  <div class="container body-content">
    @RenderBody()
  </div>

  <script src="~/Scripts/jquery-1.10.2.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>

</body>

</html>